data_50u_35i/data/python_best_sgd_model.pkl
*.pkl
*.pkl
data_50u_35i/data/reviews_50u_35i_edit - Copy.csv
data_50u_35i/data/item_info_final.csv
*.csv
data_50u_35i/data/reviews_50u_35i_info_items.csv
data_50u_35i/data/reviews_50u_35i_info_items.csv